.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

@-webkit-keyframes music-loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes music-loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.win-music {
	width: 800px;
	height: 560px
}

.win-music [class^="icon-music-nav"],.win-music .icon-search,.win-music .icon-music-downloading,.win-music .btn-play,.win-music .btn-pause,.win-music .btn-next,.win-music .btn-volume,.win-music .icon-headset,.win-music .icon-music-empty {
	background-image: url(../img/music.png)
}

.win-music main {
	position: relative;
	overflow: hidden;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 0 70px
}

.win-music main>.tab-content>.tab-pane {
	margin: 10px
}

.win-music [class^="connect"] {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	color: #8f8e9a;
	margin-left: 30px
}

.win-music [class^="connect"]::before {
	width: 8px;
	height: 8px;
	content: "";
	margin-right: 4px;
	border-radius: 4px;
	-webkit-transition: background .3s ease;
	transition: background .3s ease
}

.win-music .connecting::before {
	background: #fb910c
}

.win-music .connect-success::before {
	background: #4eb45a
}

.win-music .connect-fail::before {
	background: #ff4747
}

.win-music .search {
	-webkit-app-region: no-drag;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 240px;
	margin-left: 80px
}

.win-music .search input {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 24px;
	padding: 0 20px 0 10px;
	background: #191822;
	border: solid 1px #1d1c27;
	border-radius: 1px
}

.win-music .search input::-webkit-input-placeholder {
	color: #666570
}

.win-music .icon-search {
	width: 20px;
	height: 20px;
	margin-left: -21px;
	background-position: -80px 0;
	-webkit-transition: none;
	transition: none
}

.win-music .icon-search:hover {
	background-position: -100px 0
}

.win-music .tab-pane.active {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.win-music h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 45px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: 14px;
	padding: 0 20px;
	margin-bottom: 5px;
	border-bottom: solid 1px #dbdbdb
}

.win-music .empty,.win-music .loading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #999
}

.win-music .empty {
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #fff
}

.win-music .empty p {
	margin-bottom: 5px
}

.win-music .loading {
	min-height: 80px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.win-music .ivu-icon-load-d {
	font-size: 40px;
	margin-bottom: 10px;
	-webkit-animation: music-loading 2s linear infinite;
	animation: music-loading 2s linear infinite
}

.music-nav {
	width: 100px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background: #f2f2f2;
	border-right: solid 1px #e8e8e8
}

.music-nav button {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition-duration: .1s;
	transition-duration: .1s
}

.music-nav button::before {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	content: "";
	background: #fb910c;
	-webkit-transition: width .1s linear;
	transition: width .1s linear
}

.music-nav button:hover,.music-nav button.active {
	color: #fb910c;
	background: #fff
}

.music-nav button.active {
	background: #fff
}

.music-nav button.active::before {
	width: 4px
}

.music-nav [class^="icon-music-nav"] {
	width: 40px;
	height: 40px;
	margin-right: 0;
	background-image: url(../img/music.png)
}

.icon-music-nav-audience {
	background-position: 0 0
}

.icon-music-nav-mine {
	background-position: 0 -40px
}

.icon-music-nav-recommend {
	background-position: 0 -80px
}

.icon-music-nav-hot {
	background-position: 0 -120px
}

.icon-music-empty {
	width: 110px;
	height: 100px;
	margin-bottom: 10px;
	background-position: -140px 0
}

button:hover .icon-music-nav-audience,button.active .icon-music-nav-audience {
	background-position: -40px 0
}

button:hover .icon-music-nav-mine,button.active .icon-music-nav-mine {
	background-position: -40px -40px
}

button:hover .icon-music-nav-recommend,button.active .icon-music-nav-recommend {
	background-position: -40px -80px
}

button:hover .icon-music-nav-hot,button.active .icon-music-nav-hot {
	background-position: -40px -120px
}

.music-sub-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 45px;
	padding: 0 20px;
	margin-bottom: 5px;
	border-bottom: solid 1px #dbdbdb
}

.music-sub-nav .tab-nav-btn {
	margin: 0 20px -1px 0;
	border-bottom: solid 2px transparent
}

.music-sub-nav .tab-nav-btn:hover {
	color: #fb910c
}

.music-sub-nav .tab-nav-btn.active {
	color: #fb910c;
	border-bottom-color: #fb910c
}

.music-sub-nav .btn-gradient {
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: auto
}

.music-table {
	table-layout: fixed;
	width: calc(100% - 40px);
	border-collapse: collapse;
	margin: 5px 20px 0
}

.music-table.play-list-table tbody tr {
	cursor: pointer
}

.music-table tbody {
	counter-reset: music-index
}

.music-table tbody tr {
	counter-increment: music-index;
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}

.music-table tbody tr.selected,.music-table tbody tr.selected:hover {
	background: #f1f1f1
}

.music-table tbody tr:hover {
	background: #fbfbfb
}

.music-table tbody tr td:first-child {
	color: #999;
	padding-right: 0
}

.music-table tbody tr td:first-child::before {
	content: counter(music-index)
}

.music-table th,.music-table td {
	text-align: left;
	padding: 10px 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.music-table th {
	color: #999;
	font-weight: normal
}

.music-table tr {
	border-bottom: solid 1px #e8e8e8
}

.music-table tr:hover .btn-collect {
	visibility: visible
}

.music-table .download-state {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.music-table .download-state.ing {
	color: #70b857
}

.music-table .download-state.wait {
	color: #666
}

.music-table .download-state.fail {
	color: #ff4747
}

.music-table .download-state.downloaded {
	color: #999
}

.music-table .icon-music-downloading {
	width: 16px;
	height: 16px;
	margin: -1px 3px 0 0;
	background-position: -120px 0;
	-webkit-animation: music-loading 1.5s linear infinite;
	animation: music-loading 1.5s linear infinite
}

.music-table .btn-collect-cell {
	position: relative;
	overflow: initial
}

.music-table .btn-collect {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #979797;
	line-height: 18px;
	visibility: hidden;
	border: solid 1px #979797;
	border-radius: 10px;
	-webkit-transition-property: color,border-color;
	transition-property: color,border-color
}

.music-table .btn-collect::after {
	content: "+"
}

.music-table .btn-collect:hover {
	color: #25b2fb;
	border-color: #25b2fb
}

.music-table .album-cover {
	display: block;
	margin-left: -8px
}

.player {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	right: 0;
	bottom: 0;
	left: 0;
	height: 70px;
	padding: 0 20px;
	border-top: solid 1px #e8e8e8
}

.player .player-controls {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 80px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.player .player-controls button {
	background-color: rgba(251,145,12,0.9);
	border-radius: 50%;
	-webkit-transition-property: background-color,-webkit-box-shadow;
	transition-property: background-color,-webkit-box-shadow;
	transition-property: background-color,box-shadow;
	transition-property: background-color,box-shadow,-webkit-box-shadow
}

.player .player-controls button:hover {
	background-color: #fb910c
}

.player .player-controls button:active {
	-webkit-box-shadow: 0 0 0 2px rgba(255,173,68,0.2);
	box-shadow: 0 0 0 2px rgba(255,173,68,0.2)
}

.player .btn-play,.player .btn-pause {
	width: 40px;
	height: 40px
}

.player .btn-next {
	width: 30px;
	height: 30px;
	background-position: -80px -100px
}

.player .btn-play {
	background-position: 0 0;
	background-position: -80px -20px
}

.player .btn-pause {
	background-position: 0 0;
	background-position: -80px -60px
}

.player .play {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	margin: 0 30px
}

.player .play p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	color: #999;
	margin-bottom: 5px
}

.player .play .not-playing {
	color: #333
}

.player .name {
	max-width: 200px;
	color: #333;
	margin-right: 5px
}

.player .artists {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 5px
}

.player .name,.player .artists {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.player .time {
	color: #999;
	font-size: 12px;
	margin-left: auto
}

.player .btn-volume {
	width: 20px;
	height: 20px;
	background-position: -80px -130px
}

.player .ivu-select-dropdown {
	width: 30px;
	height: 120px;
	border-radius: 2px
}

.player .ivu-dropdown input[type="range"] {
	position: absolute;
	width: 100px;
	bottom: 5px;
	left: 13px;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.play-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.play-list li {
	width: 140px;
	margin: 0 calc((100% - 560px) / 8)
}

.play-list li:nth-child(n+5) {
	margin-top: 15px
}

.play-list .cover {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px
}

.play-list .cover .bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 24px;
	color: #fff;
	padding: 0 10px;
	background: rgba(0,0,0,0.4)
}

.play-list .cover .bottom .ivu-tooltip {
	margin-left: auto
}

.play-list img {
	display: block;
	width: 140px;
	height: 140px;
	cursor: pointer;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease
}

.play-list img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.play-list .desc {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3em;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	-webkit-transition: color .2s ease;
	transition: color .2s ease
}

.play-list .desc:hover {
	color: #fb910c
}

.play-list .icon-headset {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-position: -120px -16px
}

.play-list .btn-plus {
	font-size: 24px;
	line-height: 1;
	margin-left: auto
}

.play-list .btn-plus::after {
	content: "+"
}

.play-list .btn-plus:hover {
	color: #fb910c
}

.play-list+.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 670px
}

.list-detail {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 80px;
	left: 110px;
	overflow: auto;
	background: #fff
}

.list-detail .operate {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 670px;
	padding: 0 20px 20px 10px;
	background: #fff
}

.list-detail .operate .btn-gradient {
	height: 24px;
	line-height: 22px
}

.list-detail .operate .btn-primary::before {
	display: inline-block;
	font-size: 20px;
	content: "+";
	vertical-align: middle;
	margin: -2px 3px 0 0
}

.list-detail .desc {
	position: relative;
	min-height: 150px;
	padding: 0 20px 0 180px;
	margin-bottom: 10px
}

.list-detail .desc img {
	position: absolute;
	top: 0;
	left: 10px
}

.list-detail .desc h3 {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px
}

.list-detail .desc-content {
	line-height: 1.5
}

.list-detail .desc-content.collapsed {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	height: 6em;
	overflow: hidden;
	text-overflow: ellipsis
}

.list-detail .desc-content.collapsed+.btn-link::after {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg)
}

.list-detail .desc-content span {
	display: inline-block;
	white-space: pre-wrap
}

.list-detail .btn-link::after {
	display: inline-block;
	width: 6px;
	height: 6px;
	content: "";
	vertical-align: middle;
	margin-top: -2px;
	border-style: solid solid none none;
	border-color: inherit;
	border-width: 1px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease
}

.list-detail>p {
	padding: 10px 20px;
	border-bottom: solid 1px #dbdbdb
}

.list-detail .loading {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	width: 670px;
	background: #fff
}

.music-search-result {
	position: absolute;
	top: 0;
	left: 100px;
	right: 0;
	bottom: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	white-space: nowrap;
	padding: 10px;
	background: #fff
}

.music-search-result mark {
	color: #0786fa;
	overflow: hidden;
	text-overflow: ellipsis;
	background: transparent
}

.music-search-result>p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 20px
}

.music-search-result .btn-gradient {
	height: 24px;
	line-height: 22px;
	margin: 0 auto 10px 20px
}

.song-sheet-details-fade-enter-active,.song-sheet-details-fade-leave-active {
	-webkit-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.song-sheet-details-fade-enter,.song-sheet-details-fade-leave-to {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 0
}

.music-result-fade-enter-active,.music-result-fade-leave-active,.loading-fade-enter-active,.loading-fade-leave-active {
	-webkit-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.music-result-fade-enter,.music-result-fade-leave-to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity: 0
}

.loading-fade-enter,.loading-fade-leave-to {
	opacity: 0
}

.music-lyric {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 55px 0 135px;
	background-color: rgba(255,255,255,0.15);
	pointer-events: none
}

.music-lyric-top {
	height: 40px;
	text-align: left
}

.music-lyric-bottom {
	height: 40px;
	text-align: right
}

.music-text {
	font-family: "Arial","Microsoft YaHei",sans-serif;
	font-size: 20px;
	color: #7d26cd;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.music-lyric-panel {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 100px;
	bottom: 70px;
	right: 0;
	background-color: #242330;
	overflow: hidden;
	-webkit-transition: all .6s;
	transition: all .6s;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	pointer-events: none;
}

.music-lyric-panel-content {
	position: absolute;
	width: 100%;
	min-height: 448px;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.music-lyric-panel-content pre {
	font-family: "Arial","Microsoft YaHei",sans-serif;
	font-size: 14px;
	color: #8470FF;
	margin: 0;
	padding: 14px 0 0 0
}

.music-lyric-panel-content pre.lyric-active {
	color: #00BFFF;
	font-size: 18px
}

.no-lyric {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.no-lyric p {
	font-size: 18px;
	color: #FF1493;
}