<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/iview.css">
    <link rel="stylesheet" href="../../skin/dark/css/global.css">
    <link rel="stylesheet" href="../../skin/dark/css/index.css">
    <link rel="stylesheet" href="../../skin/dark/css/guide.css">
    <link rel="stylesheet" href="../../css/animation.css">
    <title>小葫芦直播管家开播版</title>
    <style>
        html,
        body {
            background-color: #242330 !important;
        }
    </style>
</head>

<body draggable="false">
    <div id="app"></div>
    <script type="text/javascript" src="../../../src/view/index/index.js"></script>
    <script>
        const body = document.querySelector("body");

        body.ondragover = function (ev) {
            ev.preventDefault();
            return true;
        };

        body.ondragenter = function (ev) {
            /*拖拽元素进入目标元素头上的时候*/
            return true;
        };

        body.ondrop = function (ev) {
            ev.preventDefault();
        };
    </script>
</body>

</html>