<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="../../css/iview.css"> -->
    <link rel="stylesheet" href="../../skin/dark/css/global.css">
    <link rel="stylesheet" href="../../skin/dark/css/window.css">
    <title>小葫芦直播助手开播版</title>
    <style>
        body {
            background: #2f2d39 !important
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script>
        require("../../../src/view/user_center/user_center")
    </script>
</body>

</html>